---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.featured {
				margin-bottom: 2rem;
			}
			.featured a {
				display: block;
				text-decoration: none;
				text-align: center;
			}
			.featured a * {
				transition: 0.2s ease;
			}
			.featured .title {
				font-size: 2.369rem;
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.featured .date {
				margin: 0.5rem 0 0;
				color: rgb(var(--gray));
			}
			.featured .description {
				color: rgb(var(--gray-dark));
				font-size: 1.1em;
				margin: 0.75rem 0 0;
				line-height: 1.5;
			}
			.featured .read-more {
				display: inline-block;
				margin-top: 0.75rem;
				color: rgb(var(--accent));
				font-weight: bold;
			}
			.featured img {
				width: 100%;
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			.featured a:hover .title,
			.featured a:hover .date {
				color: rgb(var(--accent));
			}
			.featured a:hover img {
				box-shadow: var(--box-shadow);
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				.featured .title {
					font-size: 1.563em;
				}
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			{posts.length > 0 && (
				<section class="featured">
					<a href={`/blog/${posts[0].id}/`}>
						{posts[0].data.heroImage && (
							<Image width={720} height={360} src={posts[0].data.heroImage} alt="" />
						)}
						<h4 class="title">{posts[0].data.title}</h4>
						<p class="date">
							<FormattedDate date={posts[0].data.pubDate} />
						</p>
						<p class="description">{posts[0].data.description}</p>
						<span class="read-more">Read more &rarr;</span>
					</a>
				</section>
			)}
			{posts.length > 1 && (
				<section>
					<ul>
						{posts.slice(1).map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									{post.data.heroImage && (
										<Image width={720} height={360} src={post.data.heroImage} alt="" />
									)}
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))}
					</ul>
				</section>
			)}
		</main>
		<Footer />
	</body>
</html>
